
.header {
  padding: 45px; 
  text-align: center; 
  background: #cc99ff; 
  color: #000000; 
  font-family: 'Georgia';
}

.header h1 {
  font-size: 30px;
}

body {
  margin: 0;
  font-family: 'Arial';
  min-width: 1300px;
}

.titl { 
  text-align: center; 
  color: #000000; 
  font-family: 'Georgia';
}

.navbar {
  background-color: #b3c6ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Garamond';
}

li a {
  display: block;
  background-color: #c6b3ff;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

li a.final {
  float: right;
}

li a.current {
  background-color: #9999ff;
}

li a:hover {
  background-color: #809fff;
}

